.grain-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

.grain-noise {
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;
  background-image: url("http://assets.iceable.com/img/noise-transparent.png");
  background-repeat: repeat;
  opacity: 0.6;
}

.grain-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
}
