/* App.css */
#root {
  width: 100vw !important;
  height: 100vh !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

.App {
  width: 100%;
  height: 100%;
}